.container {
  width: 320px;
}
header {
  height: 114px;
}
header .logo {
  width: 106px;
  padding-top: 16px;
  padding-left: 65px;
}
header .logo .zh {
  width: 93px;
  height: 77px;
}
header .logo .en {
  top: 32px;
  width: 93px;
}
header .banner {
  width: 350px;
}
header .banner .triangle {
  border-bottom: 114px solid #e60201;
  border-left: 60px solid transparent;
}
header .banner .content {
  width: 320px;
}
header .banner .content .word {
  margin-top: 24px;
  width: 178px;
}
header .banner .content .word .sprit {
  font-size: 18px;
  font-weight: bold;
}
header .banner .content .word .contact {
  margin-top: 10px;
}
header .banner .content .word .contact i {
  width: 22px;
  height: 27px;
  transform: translate(-10px, 7px);
}
header .banner .content .word .contact span {
  font-size: 10px;
  letter-spacing: 2px;
}
header .banner .content .qrcode {
  width: 43px;
  padding-top: 16px;
}
header .banner .content .qrcode img {
  width: 37px;
  height: 37px;
}
header .banner .content .qrcode span {
  width: 37px;
  font-size: 9px;
}
section .title {
  height: 43px;
  padding-top: 7px;
  font-size: 12px;
  letter-spacing: 10px;
  margin-bottom: 30px;
}
section .title .bg {
  width: fit-content;
  height: 34px;
  line-height: 34px;
  border-radius: 10px;
}
section .title .bg span {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
}
section.intro {
  margin-top: 50px;
}
section.intro .main {
  width: 277px;
  height: 51px;
  padding-left: 45px;
  font-size: 12px;
}
section.intro .main p {
  text-shadow: 1px 1px 5px white;
}
section.intro .desc {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 284px;
  border-radius: 30px;
  font-size: 10px;
}
section.machine .imgs img {
  width: 98px;
  height: 138px;
}
section.shape .imgs img {
  height: 76px;
}
section.environment .imgs img {
  width: 76px;
  height: 105px;
  margin-left: 2px;
}
footer {
  width: 307px;
  height: 46px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: url(../img/footer_bg_320.png) no-repeat;
}
footer .desc {
  padding-top: 0px;
  padding-left: 7px;
  width: 195px;
}
footer .desc .sprit {
  font-size: 12px;
}
footer .desc .address {
  font-size: 10px;
  margin-top: 10px;
}
